<div class="thumbnail" ng-if="$index == 0">
	<img ng-src="{{item.snippet.thumbnails.default.url}}">
</div>

<h4>{{ item.snippet.title }}</h4>

<div class="row">
	<div class="col-md-8">
		<p class="added-by">Added By: <img class="gravatar" ng-src="{{ item.addedBy.email | gravatar }}" title="{{item.addedBy.firstName || item.addedBy.email }} {{item.addedBy.lastName}}" /> {{item.addedBy.firstName || item.addedBy.email}} {{item.addedBy.lastName}} <a class="btn btn-danger btn-xs" ng-if="user.isAdmin" ng-click="admin.removeFromPlaylist(item, room)">Remove</a></p>
	</div>
	<div class="col-md-4 votes" >
		{{ item.votes.length }} <a href ng-if="!hasVotedForVideo(item)"><i class="fa fa-heart-o"></i></a><span ng-if="hasVotedForVideo(item)"><i class="fa fa-heart"></i></span>
	</div>
</div>

<div class="vote-avatars">
	<span ng-repeat="vote in item.votes" ng-if="vote.email !== item.addedBy.email">
		<img class="gravatar" ng-src="{{ vote.email | gravatar }}" title="{{vote.firstName || vote.email }} {{vote.lastName}}" />
	</span>
</div>
