<div class="row">
	<!--<div class="col-md-2">
		<img class="thumb" ng-src="{{currentVideo.snippet.thumbnails.default.url}}">
	</div>-->
	<div class="col-md-12">
		<h4>{{ currentVideo.snippet.title }}</h4>
		<div class="row">
			<div class="col-xs-8">
				<p class="added-by">Added By: <img class="gravatar" ng-src="{{ user.avatar }}" title="{{currentVideo.addedBy.name}}" /> {{currentVideo.addedBy.name}}</p>
			</div>
			<div class="col-xs-4 votes" >
				{{ currentVideo.votes.length }} <a href ng-if="!hasVotedForVideo(currentVideo)"><i class="fa fa-heart-o"></i></a><span ng-if="hasVotedForVideo(currentVideo)"><i class="fa fa-heart"></i></span>
			</div>
		</div>
	</div>
</div>

<div class="vote-avatars">
	<span ng-if="currentVideo.votes.length > 1">Votes:</span>
	<span class="player" ng-repeat="vote in currentVideo.votes" ng-if="vote.email !== currentVideo.addedBy.email">
		<img class="gravatar" ng-src="{{ user.avatar }}" title="{{vote.name}}" /> {{currentVideo.addedBy.name}}
	</span>
</div>
