<!doctype html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]>
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <title>Shoptology Co-Loud</title>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body ng-controller="AppCtrl"
    ng-class="{ 'red' : ($root.inner && $root.user.status == 'Naughty'), 'green' : ($root.inner && $root.user.status == 'Nice') }">

    <nav class="navbar navbar-default navbar-fixed-top center-block" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">
            Toggle navigation
          </span>
          <span class="close-icon" style="display: none;">X</span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
        </button>
        <a href="http://www.goshoptology.com/why/" class="ajax"><div class="nav-logo"></div></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">

          <!--<li class="news-item simple-btn" href="http://www.goshoptology.com/beyondthebump/">
            <div class="news-item-wrapper">
              <div class="news-item-square-wrapper"><div class="rounded-square"><i class="fa fa-download"></i></div></div>
              <div class="news-item-text-wrapper">Download Beyond the Bump Now</div>
            </div>
          </li>-->

          <li class="active">
            <a href="http://www.goshoptology.com/why/" class="ajax" data-slide="0">Why</a>
          </li>
          <li class="active">
            <a href="http://www.goshoptology.com/how/" class="ajax" data-slide="1">How</a>
          </li>
          <li class="active">
            <a href="http://www.goshoptology.com/what/" class="ajax" data-slide="2">What</a>
          </li>
          <li class="active">
            <a href="http://www.goshoptology.com/work/" class="ajax" data-slide="3">Work</a>
          </li>
          <li class="active">
            <a href="http://www.goshoptology.com/who/" class="ajax" data-slide="4">Who</a>
          </li>
          <li class="active">
            <a href="http://www.goshoptology.com/hello/" class="ajax" data-slide="5">Hello</a>
          </li>
          <li class="active">
            <a href="http://www.goshoptology.com/shoptalk/" class="ajax" data-slide="6"><span class="lightblue">Shop</span><span class="green">Talk</span></a>
          </li>
        </ul>
        <a href="http://www.goshoptology.com/why/" class="ajax"><div class="nav-logo pull-right"></div></a>
      </div>

      <!-- /.navbar-collapse -->
      </div>
    </nav>

    <div id="ornament1" class="ornament" ng-class="{ 'white' : $root.inner }">
      <img class="color" src="/img/ornaments-01.svg">
      <img class="white" src="/img/ornaments-01-white.svg">
    </div>
    <div id="ornament2" class="ornament" ng-class="{ 'white' : $root.inner }">
      <img class="color" src="/img/ornaments-02.svg">
      <img class="white" src="/img/ornaments-02-white.svg">
    </div>
    <div id="ornament3" class="ornament" ng-class="{ 'white' : $root.inner }">
      <img class="color" src="/img/ornaments-03.svg">
      <img class="white" src="/img/ornaments-03-white.svg">
    </div>
    <div id="ornament4" class="ornament" ng-class="{ 'white' : $root.inner }">
      <img class="color" src="/img/ornaments-04.svg">
      <img class="white" src="/img/ornaments-04-white.svg">
    </div>

    <div class="container">
      {{{body}}}
    </div>

    <script type="text/javascript">
        var APIURL = '{{api}}',
            isLive = {{isLive}};
    </script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script data-main="js/main" src="bower_components/requirejs/require.js"></script>

</body>
