<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-6 input-group pull-right">
		   <input type="text" class="form-control" ng-model="newRoomName" placeholder="New Room Name">
		   <span class="input-group-btn">
		        <button class="btn btn-primary" ng-disabled="!newRoomName" ng-click="createRoom()">Create New Room</button>
		   </span>
		</div>
		<h2>Available Rooms</h2>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<ul>
			<li ng-repeat="room in rooms">
				<a ui-sref="room({roomId: room.id, roomName: room.name, room: room})">{{ room.name }}</a>
			</li>
		</ul>
	</div>
</div>
