<div class="header row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Missed out on the merry madness?</h1>
		<h2>Here’s all the virtual goodness wrapped up just for you.</h2>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/t9owqDUxPzE" frameborder="0" allowfullscreen style="    margin-bottom: 10px;"></iframe>
		<br>
		<p>Thanks to you, we had a lot of fun at our Holiday Hangout. Since our guests picked the music, some were nice and treated us to holiday songs we definitely liked. But some were naughty and made us listen to some not so savory stuff. If you missed the party, it’s not too late to share in the festive fun. Check out our reactions in the video above.</p>
	</div>
</div>

<!--<div class="login row" ng-if="$root.isLive || $root.user.isAdmin">
	<div class="col-xs-12">
		<form class="row" ng-submit="login(user)">
			<div class="form-group col-md-6 col-md-offset-3">
				<h3>Hello my name is...</h3>
				<input type="text" id="nameInput" class="form-control" ng-model="user.name">
			</div>

			<div class="col-xs-12 naughty-nice">
				<div class="row">
					<div class="col-xs-12">
						<h3>I'm Feeling...</h3>
					</div>
					<div class="form-group col-xs-6 nice" ng-class="{'active': user.cat == 'nice'}" ng-click="user.cat = 'nice'">
						<img class="selected-avatar" ng-src="{{ getSelectedAvatar('nice').img }}" ng-click="user.cat = 'nice'">
						<h3>Nice</h3>
						<p>Spread some cheer with jolly ol' holiday classics, rocked-out remakes and gift-wrapped rapping</p>
						<div class="avatar-box" ng-if="user.cat == 'nice'">
							<ul>
								<li class="avatar" ng-repeat="avatar in avatars.nice" ng-click="setSelectedAvatar(avatar, 'nice')" ng-class="{ 'active' : (avatar.img == getSelectedAvatar('nice').img)}">
									<img ng-src="{{avatar.img}}">
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 or">
						<h3>Or</h3>
					</div>
					<div class="form-group col-xs-6 naughty" ng-class="{'active': user.cat == 'naughty'}" ng-click="user.cat = 'naughty'">
						<img class="selected-avatar" ng-src="{{ getSelectedAvatar('naughty').img }}" ng-click="user.cat = 'naughty'">
						<h3>Naughty</h3>
						<p>Annoy Shoptology with high-pitched singing chipmunks, dogs barking Jingle Bells and grandmas ran over by reindeer</p>
						<div class="avatar-box" ng-if="user.cat == 'naughty'">
							<ul>
								<li class="avatar" ng-repeat="avatar in avatars.naughty" ng-click="setSelectedAvatar(avatar, 'naughty')" ng-class="{ 'active' : (avatar.img == getSelectedAvatar('naughty').img)}">
									<img ng-src="{{avatar.img}}">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<p class="subtitle">Not sure? Don't worry, you can add whatever songs you like.</p>
			</div>

			<div class="col-xs-12">
				<a class="btn btn-default btn-xs login" href ng-click="login(user)">Let's Hang<span class="arrow-right arrow"><i class="fa fa-angle-right"></i></span></a>
			</div>
		</form>

		<p class="alert alert-danger error-msg" ng-show="errorMsg">{{ errorMsg }}</p>

	</div>
</div>-->
