<div class="room">
	<div class="header white">
		<!--<h1>CO-LOUD - {{$root.group}}</h1>-->

		<img class="avatar" ng-src="{{user.avatar}}">
		<h2>
			Holiday Hangout
		</h2>
		<h1 class="no-bottom-margin">
			With {{user.name}} &amp; co.
		</h1>
	</div>

	<div class="row room-info">
		<div class="col-md-4 room" ng-if="user.isAdmin">
			<!--<p>THEME</p>
			<li ng-if="!editingTopic">{{room.topic}} <a href class="btn btn-warning btn-xs" ng-if="user.isAdmin" ng-click="editTopic()">Edit</a></li>
			<li><input type="text" value="My Topic" ng-if="editingTopic && user.isAdmin" ng-model="room.topic"> <a href class="btn btn-success btn-xs" ng-if="editingTopic && user.isAdmin" ng-click="changeTopic()">Save</a></li>-->

		</div>
		<!--<div class="col-md-8 who">
			<p>MIXOLOGISTS</p>
			<ul>
				<li class="player" ng-repeat="player in room.players">
					<img class="gravatar" ng-if="player.avatar" ng-src="{{player.avatar}}" title="{{player.name}}" />
					{{player.name}} <span class="slashes">//</span>
				</li>
			</ul>
		</div>-->
	</div>

	<div class="row topic" ng-if="user.isAdmin">
		<button ng-if="$root.isLive" ng-click="toggleLive()">
			Take Offline
		</button>
		<button ng-if="!$root.isLive" ng-click="toggleLive()">
			Push Live
		</button>
		<a class="btn btn-danger btn-xs clear" ng-if="user.isAdmin" ng-click="admin.removePlaylist(room)">Clear playlist</a>
	</div>

	<div class="row">
		<div class="col-sm-12 playlist">

			<div class="currentVideo" ng-class="{'hide-video': hideVideo}" ng-if="$root.group == 'cam'">

				<iframe ng-if="currentVideo" id="unique-youtube-embed-id-1" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="390" ng-src="{{currentVideo.iframeLink}}"></iframe>
			</div>

			<div class="currentVideo" ng-if="$root.group == 'shp'">
				<iframe id="unique-youtube-embed-id-1" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="390" ng-src="{{streams.shp}}"></iframe>
			</div>

			<div class="currentVideo" ng-if="$root.group == 'pub'">
				<iframe id="unique-youtube-embed-id-1" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="390" ng-src="{{streams.pub}}"></iframe>
			</div>

			<a class="btn btn-default btn-block btn-xs add theme" href ng-click="showSearchPage = true; showSearch();">ADD TO THE {{user.status | uppercase}} LIST<span class="arrow-right arrow">&gt;</span></a>

			<div class="search-list list-group">
				<div class="row" ng-if="currentVideo">
					<div class="col-sm-6">
						<p>NOW PLAYING</p>
					</div>
				</div>

				<div class="playlist-items">
					<div class="list-group-item first"
					ng-if="currentVideo"
					ng-include="'js/views/partials/playlist-item-current.html'"
					ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
					</div>
				</div>
			</div>

			<div class="search-list list-group">
				<div class="row" ng-if="room.playlist.length > 0">
					<div class="col-sm-6">
						<p>NEXT UP</p>
					</div>
					<!--<div class="col-sm-6">
						<div class="input-group" style="width:100%;">
					      <input type="text" ng-model="search.q" class="form-control" placeholder="Search playlist">
					      <span class="input-group-btn" >
					        <button ng-if="search.q.length > 0"  ng-click="search.q = ''" class="btn btn-default" type="button">
					        	<i class="fa fa-times"></i>
					        </button>
					      </span>
					    </div>
					</div>-->
				</div>

				<div class="playlist-items">
					<div class="list-group-item"
					ng-repeat="item in (filteredItems = room.playlist | filter:{snippet:{title:search.q}} | orderBy : ['-votes.length', 'modified'] )"
					ng-click="voteForVideo(item)"
					ng-class="{'gray': item.votes.length < 1, 'top' : $index == 0, 'bottom' : $last}"
					ng-include="'js/views/partials/playlist-item.html'"
					ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
					</div>
				</div>

			</div>
		</div>

		<div ng-show="showSearchPage == true">
			<div class="col-sm-12 search theme">
				<i class="close-icon" ></i>
				<a href class="back" ng-click="showSearchPage = false"><i class="fa fa-arrow-circle-o-left"></i> BACK TO HANGOUT {{
					search.showSearchPage.toString()}}</a>
				<div class="search-body" ng-controller="SearchCtrl as search">

					<form class="form-inline" ng-submit="searchVideos()">
						<a class="btn btn-default btn-xs clear" href ng-click="clearSearch()" ng-if="search.q.length > 0">Clear</a>
					  <div class="form-group">
					    <label class="sr-only" for="videoSearch">START TYPING TO SEARCH</label>
					    <input id="searchInput" type="text" ng-model="search.q" autocomplete="off" class="form-control" id="videoSearch" placeholder="SEARCH">
					  </div>
					  <!--<button type="submit" class="btn btn-primary">Search</button>-->
					</form>

					<div class="search-list list-group">
						<h3 ng-if="!videos.length">RECOMMENDED SONGS:</h3>
						<h3 ng-if="videos.length">SEARCH RESULTS:</h3>
						<div class="list-group-item" ng-if="!videos.length" ng-repeat="item in predefinedVideos[user.status.toLowerCase()] track by item.id.videoId" ng-class="{'added': isVideoInPlaylist(item)}" ng-click="addVideo(item)">
							<div class="overlay">
								<p>Added!</p>
							</div>

							<!--<div class="thumbnail">
								<div class="overlay">
									<i class="close-icon"></i>
								</div>

								<img ng-src="{{item.snippet.thumbnails.default.url}}">
							</div>-->

							<h4>{{item.snippet.title}}</h4>
							<p>{{ item.snippet.channelTitle }} - {{ item.durationString }}</p>
							<div class="clearfix"></div>
						</div>

						<div class="list-group-item" ng-if="videos.length" ng-repeat="item in videos" ng-class="{'added': isVideoInPlaylist(item)}" ng-click="addVideo(item)">
							<div class="overlay">
								<p>Added!</p>
							</div>

							<div class="thumbnail">
								<div class="overlay">
									<i class="close-icon"></i>
								</div>

								<img ng-src="{{item.snippet.thumbnails.default.url}}">
							</div>

							<h4>{{item.snippet.title}}</h4>
							<p>{{ item.snippet.channelTitle }} - {{ item.durationString }}</p>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>


			</div>
		</div>

	</div>
</div>

