// Scaffolding
// -------------------------

$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$novacento: 'Novecentosanswide-Light', 'Helvetica Neue', sans-serif;

html {
    position: relative;
    min-height: 100%;
    font-family: $novacento;
    background: url('../img/bg.jpg') no-repeat;
    background-size: 100%;
    background-color: #f0f9fd;
    overflow-x: hidden;
}

body {
    padding-top: 70px;
    padding-bottom: 120px;
    min-height: 100%;
    font-family: $novacento;
    color: #07505a;
    background-color: transparent;
    position: relative;
    overflow-x: hidden;
    &.red {
        background-color: rgba(255, 32, 0, 0.65);
        .theme {
            color: rgb(239, 61, 35) !important;
            //border-color: rgb(239, 61, 35) !important;

            &.search {
                background-color: rgba(255, 32, 0, 0.65);
            }

            &.btn {
                .arrow {
                    background-color: rgb(250, 219, 214);
                }
                &:hover {
                    background-color: rgb(250, 219, 214);
                    .arrow {
                        background-color: white;
                        color: rgb(239, 61, 35);
                    }
                }
            }

        }
    }
    &.green {
        background-color: rgba(46, 171, 42, 0.65);
        .theme {
            color: rgb(49, 180, 75) !important;
            //border-color: rgb(49, 180, 75) !important;

            &.search {
                background-color: rgba(46, 171, 42, 0.65);
            }

            &.btn {
                .arrow {
                    background-color: rgb(178, 247, 184);
                }
                &:hover {
                    background-color: rgb(178, 247, 184);
                    .arrow {
                        background-color: white;
                        color: rgb(49, 180, 75);
                    }
                }
            }
        }
    }
}

iframe {
    width: 100%;
}



@keyframes swing {
    from {
        transform: rotate(-1deg);
    }

    to {
        transform: rotate(1deg);
    }
}


.room {
    .room-info {

        margin: 0px -15px 30px;

        .who {
            text-align: right;
        }

        .who, .room {
            li {
                color: #00aeef;
            }
        }

        .player:last-child {
            .slashes {
                display: none;
            }
        }

        .gravatar {
            width: 16px;
        }

        li {
            display: inline;
        }
    }

    .topic {
        margin: 0 0 60px 0;
        text-align: center;
        color: #00aeef;
        font-family: $novacento;
    }

    .currentVideo {
        margin-bottom: 20px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nova {
    font-family: $novacento;
}

::-webkit-input-placeholder {
    color: #e15829;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #e15829;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #e15829;
}

:-ms-input-placeholder {
    color: #e15829;
}

// Navbar


.navbar-nav img {
    width: 30px;
    height: 30px;
    margin: -15px 15px -15px;
}

.navbar-brand {
    background: url(../img/logo.png) no-repeat left center;
    background-size: 40px;
    padding-left: 50px;
    margin-left: 15px;
}

// Alerts
// -------------------------

.alert {
    margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

.gravatar {
    border-radius: 100px;
}

// Animations
// -------------------------
/*
We're using CSS transitions for when
the enter and move events are triggered
for the element that has the .repeated-item
class
*/
.list-group-item.ng-enter, .list-group-item.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-move.ng-move-active {
    opacity: 1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .list-group-item class
*/
.list-group-item.ng-leave {
    -webkit-animation: 0.5s my_animation;
    -moz-animation: 0.5s my_animation;
    -o-animation: 0.5s my_animation;
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@-moz-keyframes my_animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@-o-keyframes my_animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


// Font Awesome
// -------------------------

.fa {
    margin-right: 5px;
}
