// Scaffolding
// -------------------------

html {
    position: relative;
    min-height: 100%;
    background-color: white;
    font-family: 'Novecentosanswide-Light', 'Helvetica Neue', sans-serif;
}

body {
    margin-bottom: 120px;
    font-family: 'Helvetica Neue', sans-serif;
}

iframe {
    width: 100%;
}

.room {
    .header {
        text-align: center;
        font-family: 'Novecentosanswide-Bold', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

    .room-info {
        margin: 50px -15px 30px;

        .player:last-child {
            .slashes {
                display: none;
            }
        }

        .gravatar {
            width: 16px;
        }

        li {
            display: inline;
        }
    }

    .topic {
        margin: 0 0 60px 0;
        text-align: center;
    }

    .currentVideo {
        margin-bottom: 20px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nova {
    font-family: 'Novecentosanswide-Light', 'Helvetica Neue', sans-serif;
}

::-webkit-input-placeholder {
    color: #e15829;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #e15829;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #e15829;
}

:-ms-input-placeholder {
    color: #e15829;
}

// Navbar
// -------------------------

.navbar-nav img {
    width: 30px;
    height: 30px;
    margin: -15px 15px -15px;
}

.navbar-brand {
    background: url(../img/logo.png) no-repeat left center;
    background-size: 40px;
    padding-left: 50px;
    margin-left: 15px;
}

// Alerts
// -------------------------

.alert {
    margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

.gravatar {
    border-radius: 100px;
}

// Font Awesome
// -------------------------

.fa {
    margin-right: 5px;
}
