.playlist {
    .currentVideo {
        transition: max-height 500ms;
        max-height: 1000px;
        min-height: 350px;
        background: #EEE;

        &.hide-video {
            max-height: 66px;
            min-height: 1px;
            overflow: hidden;

            iframe {
                max-height: 31px;
            }
        }

        iframe {
            transition: max-height 500ms;
            max-height: 1000px;
        }

        .empty-msg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .meta {
            padding: 5px 9px 10px;
        }

        .hidden-title {
            padding: 8px;
            margin: 0;
        }
    }

    .gravatar {
        width: 30px;
        margin: 5px;
    }

    .list-group-item.first {
        border: 2px solid #e15829;

        h4 {
            margin-left: 141px;
        }

        .row {
            margin-left: 128px;
        }
    }

    .list-group-item:hover {
        color: purple;
    }

    .added-by {
        color: #9a9a97;
        margin-bottom: 0;
        padding-top: 4px;

        .gravatar {
            width: 16px;
            margin: 0 1px 0 5px;
        }
    }

    .votes {
        text-align: right;
        color: #e15829;
        font-size: 17px;

        .fa {
            color: #e15829;
        }
    }
}
