.playlist {
    .toggle {
        margin-right: 20px;
    }

    .clear {
        position: absolute;
        top: -25px;
        right: 15px;
    }

    .currentVideo {
        transition: max-height 500ms;
        max-height: 1000px;
        min-height: 350px;
        background: #EEE;

        &.hide-video {
            min-height: 1px;
            overflow: hidden;

            iframe {
                max-height: 0px;
            }
        }

        iframe {
            transition: max-height 500ms;
            max-height: 1000px;
            height: 488px;
        }

        .empty-msg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .meta {
            padding: 5px 9px 10px;
        }

        .hidden-title {
            padding: 8px;
            margin: 0;
            font-size: 26px;
            background: white;
            text-align: center;
        }
    }

    .search {
        input, button {
            border-radius: 0;
        }
    }

    .gravatar {
        width: 30px;
        height: 30px;
        margin: 5px;
    }

    .list-group-item.first {
        border: 2px solid #e15829;

        h4 {
            margin-left: 141px;
        }

        .row {
            margin-left: 128px;
        }
    }

    .list-group-item .vote-avatars {
        display: block;
        height: 38px;
    }

    .list-group-item.gray {
        h4, .votes, .votes .fa {
            color: #ABABAB;
        }

        .gravatar {
            opacity: 0.5;
        }
    }

    .list-group-item:hover {
        color: purple;
    }

    .added-by {
        color: #9a9a97;
        margin-bottom: 0;
        padding-top: 4px;

        .gravatar {
            width: 16px;
            height: 16px;
            margin: 0 1px 0 5px;
        }
    }

    .votes {
        text-align: right;
        color: #e15829;
        font-size: 17px;

        .fa {
            color: #e15829;
        }
    }
}

.btn.add {
        border: purple 1px solid;
    color: purple;
    font-size: 21px;
    padding: 10px;
    margin-bottom: 22px;
    transition: all 300ms;

    &:hover {
        background: purple;
        color:white;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

