$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$novacento: 'Novecentosanswide-Light', 'Helvetica Neue', sans-serif;

.search {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    padding-top: 70px;
    overflow-y: scroll;

    ::-webkit-input-placeholder { color: white; } :-moz-placeholder { /* Firefox 18- */ color: white; } ::-moz-placeholder { /* Firefox 19+ */ color: white; } :-ms-input-placeholder { color: white; }

    .search-body {
        margin: 0 10%;
    }

    a.back {
        color: white;
        margin: 20px 10%;
        display: block;

        &:hover {
            text-decoration: none;
            opacity: 0.7;
        }
    }

    .help {
        text-align: center;
        color: white;
        margin-top: 20px;
        border: none;
        padding: 0;

        > div {
            min-height: 300px;
            padding-top: 70px;
        }

        .add {
            background: #8e47ad;
        }

        .vote {
            background: #e15829;
        }

        h2 {
            font-size: 75px;
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
        }
    }

    form {
        height: 60px;
        padding: 5px;
        position: relative;
        margin-bottom: 52px;

        .btn.clear {
            position: absolute;
            right: 15px;
            top: 28px;
        }

        .search-icon {
            background: url("/img/zoom.svg") no-repeat;
            width: 30px;
            height: 30px;
            display: block;
            margin: 8px;
            position: absolute;
            top: 9px;
            left: 23px;
        }

        .close-icon {
            background: url("/img/plus.svg") no-repeat;
            width: 20px;
            height: 20px;
            display: block;
            margin: 14px;
            transform: rotate(45deg);
            position: absolute;
            right: 17px;
            top: 8px;
            cursor: pointer;
        }

        .form-group {
            display: block;
        }

        input {
            height: 70px;
            background: transparent;
            color: white;
            font-size: 40px;
            width: 100% !important;
            margin: 0;
            border: none;
            box-shadow: none;
            padding: 0;
            border: white solid 1px;
            padding-left: 15px;

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.search-list {
    color: white;
    .list-group-item {
        //min-height: 70px;
        font-family: $sans-serif;
        clear: both;
        //margin: 5px 0;
        border: 0;
        border-bottom: 1px solid rgb(7, 84, 94);
        color: rgb(7, 84, 94);
        //border-radius: 6px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 0;

        &.first {
            border: none !important;
            border-radius: 6px;
        }

        &.top {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &.bottom {
            border-bottom: none;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        &:hover {
            .thumbnail .overlay {
                opacity: 1;
            }
        }

        &.added {
            > .overlay {
                opacity: 1;
                z-index: 10;
                background: rgba(255, 255, 255, 0.85);

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    color: black;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(142, 71, 173, 0.7);
            color: white;
            opacity: 0;
            transition: opacity 300ms;
        }

        .thumbnail {
            position: relative;
            float: left;
            box-shadow: none;
            border: none;
            margin-right: 5px;
            margin-bottom: 0;

            .close-icon {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 25px;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        .close-icon {
            background: url("/img/plus-white.svg") no-repeat;
            width: 50px;
            height: 50px;
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .search .search-body {
        margin: 0;
    }
    .search a.back {
        margin-left: 0;
    }
}
