.search {
    .help {
        text-align: center;
        color: white;
        margin-top: 20px;

        > div {
            min-height: 300px;
            padding-top: 70px;
        }

        .add {
            background: #8e47ad;
        }

        .vote {
            background: #e15829;
        }

        h2 {
            font-size: 75px;
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
        }
    }

    form {
        border: 3px solid #f0f0f0;
        height: 60px;
        padding: 5px;

        .search-icon {
            background: url("/img/zoom.svg") no-repeat;
            width: 30px;
            height: 30px;
            display: block;
            margin: 8px;
            position: absolute;
            top: 9px;
            left: 23px;
        }

        .close-icon {
            background: url("/img/plus.svg") no-repeat;
            width: 20px;
            height: 20px;
            display: block;
            margin: 14px;
            transform: rotate(45deg);
            position: absolute;
            right: 17px;
            top: 8px;
            cursor: pointer;
        }

        .form-group {
            display: block;
        }

        input {
            height: 46px;
            border: none;
            box-shadow: none;
            font-size: 18px;
            width: 80% !important;
            margin-left: 10%;
            margin-right: 10%;
            padding: 0;
            color: #e15829;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
}

.search-list {
    .list-group-item {
        min-height: 70px;
        clear: both;
        margin: 5px 0;
        border: 0;
        border-bottom: 3px solid #F0F0F0;
        border-radius: 0;
        cursor: pointer;

        &:hover {
            .thumbnail .overlay {
                opacity: 1;
            }
        }

        &.added {
            > .overlay {
                opacity: 1;
                z-index: 10;
                background: rgba(247, 216, 255, 0.78);

                p {
                    position: absolute;
                    top: 50%;
                    left: 50px;
                    transform: translateY(-50%);
                    color: black;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(142, 71, 173, 0.7);
            color: white;
            opacity: 0;
            transition: opacity 300ms;
        }

        .thumbnail {
            position: relative;
            float: left;
            box-shadow: none;
            border: none;
            margin-right: 5px;
            margin-bottom: 0;

            .close-icon {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 25px;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        .close-icon {
            background: url("/img/plus-white.svg") no-repeat;
            width: 50px;
            height: 50px;
            display: block;
        }
    }
}
